<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio VerShabaka</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>


  <header>
    
    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">

    <!-- Logo with name -->
    <div class="site-identity">
      <img src="assets/logo.ico">
      <h1>Kinu 3D</h1>
    </div>

    <!-- Primary navigation bar -->
    <nav>
      <a href="index.html">Home</a>
      <a href="projects.html">Project</a>
      <a href="lab.html">Lab</a>
    </nav>
  </header>


  <!-- Background Particples -->
  <!-- <canvas id="bgParticleCanvas"></canvas>-->


  <!-- Vertical Navigation Bar (WIP)-->


  <!-- Pannable container -->
  <div id="panningContainer">
    <main>
      <!-- Landing Panel -->
      <section id="landing" class="panel">
        <h1> Your 3D Vision builder </h1>
      </section>

      <!-- My Work Panel -->
      <section id="work" class="panel">
        <h1> The projects I helped envision </h1>
      </section>
      
      <!-- Contact Me Panel -->
      <section id="contact" class="panel">
        <h1> Get your qouta met </h1>
      </section>
      
      <!-- About Me Panel -->
      <section id="about" class="panel">
        <h1> Near decade of experience in game and movie assets </h1>
      </section>
    </main>
    <footer>
    </footer>
<script type="module" src="js/main.js"></script>
</body>
</html>
